/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-indigo-1: #3c6085;
  --vt-c-indigo-2: #2c3e50;

  --vt-c-divider-light: rgb(184, 180, 180);
  --vt-c-divider-dark: rgba(84, 84, 84);

  --vt-c-text-light: var(--vt-c-indigo);
  --vt-c-text-dark: var(--vt-c-white);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light);
  --color-border-hover: var(--vt-c-divider-dark);

  --color-heading: var(--vt-c-text-light);
  --color-text-light: var(--vt-c-text-light);
  --color-text-dark: var(--vt-c-text-dark);

  --color-primary: var(--vt-c-indigo-1);
  --color-primary-hover: var(--vt-c-indigo-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text-light);
  background: var(--color-background-mute);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
